{{define "title"}}{{.Header}} &bull; {{.Page.Title}}{{end}}
{{define "meta"}}
{{if .Page.Summary}}<meta name="description" content="{{.Page.Summary}}">{{end}}
<meta property="og:type" content="website">
<meta property="og:title" content="{{.Page.Title}}">
{{if .Page.Summary}}<meta property="og:description" content="{{.Page.Summary}}">{{end}}
{{end}}
{{define "content"}}
<article class="prose">
  <h1>{{.Page.Title}}</h1>
  {{.Body}}
  {{if .Authed}}<p class="edit-link"><a href="/admin/edit?edit=1&slug={{.Page.Slug}}">Edit this page</a></p>{{end}}
</article>
{{end}}
